* {
    font-family: 'JetBrains Mono';
    font-size: 14px;
}

#waybar > * {
    padding: 2px; /* Отступ внутри модуля */
    margin: 0 0px; /* Отступ между модулями если дополнительно */
}

window#waybar {
    background-color: transparent;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

/* window#waybar.hidden {
    opacity: 0.2;
} */
/* window#waybar.termite {
    background-color: #3F3F3F;
} */
/* window#waybar.chromium {
    background-color: #000000;
    border: none;
} */



button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0px;
}

button:hover {
    background: #11282C;

}



#pulseaudio:hover {
    background-color: #8d6700;
}



#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: rgb(255, 243, 224);
    border-radius: 7px;
    
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.297);
}

#workspaces button.urgent {
    background-color: #ff524f;
}



/* #mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
} */

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#clock {
    background-color: #11282C;
    opacity: 0.9;
    color: rgb(255, 243, 224);
    border-radius: 7px;
}

#battery {
    background-color: #11282C;
    opacity: 0.9;
    color: rgb(255, 243, 224);
    border-radius: 7px;
    padding: 0 7px;
}

#battery.charging, #battery.plugged {
    background-color: #11282C;
    opacity: 0.9;
    color: rgb(255, 243, 224);
    border-radius: 7px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border-radius: 7px;
}

#power-profiles-daemon {
    padding-right: 15px;
    border-radius: 7px;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;
    border-radius: 7px;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #ffffff;
    border-radius: 7px;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
    border-radius: 7px;
}

#backlight {
    background-color: #11282C;
    opacity: 0.9;
    color: rgb(255, 243, 224);
    border-radius: 7px;
}

#network {
    background-color: #11282C;
    opacity: 0.9;
    color: rgb(255, 243, 224);
    border-radius: 7px;
}

#network.disconnected {
    background-color: #11282C;
    opacity: 0.9;
    color: rgb(255, 243, 224);
    border-radius: 7px;
}

#pulseaudio {
    background-color: #11282C;
    opacity: 0.9;
    color: rgb(255, 243, 224);
    border-radius: 7px;
}

#pulseaudio.muted {
    background-color: #9d0000;
    opacity: 0.9;
    color: rgb(255, 243, 224);
    border-radius: 7px;
}

/* #wireplumber {
    background-color: #11282C;
    opacity: 0.9;
    color: rgb(255, 243, 224);
    border-radius: 7px;
} */

#wireplumber.muted {
    background-color: #11282C;
    opacity: 0.9;
    color: rgb(255, 243, 224);
    border-radius: 7px;
}

#custom-media {
    background-color: #11282C;
    opacity: 0.9;
    color: rgb(222, 205, 175);
    border-radius: 7px;
}

#temperature {
    background-color: #11282C;
    opacity: 0.9;
    color: rgb(255, 243, 224);
    border-radius: 7px;
}

#temperature.critical {
    background-color: #11282C;
    opacity: 0.9;
    color: rgb(255, 243, 224);
    border-radius: 7px;
}

#language {
    background-color: #11282C;
    opacity: 0.9;
    color: rgb(255, 243, 224);
    border-radius: 7px;
    padding: 3 10px;
}

 
#bluetooth {
    background-color: #11282C;   /* Фон по умолчанию (для подключенного) */
    opacity: 0.9;
    color: rgb(255, 243, 224);            /* Цвет текста для подключенного */
    border-radius: 7px;
    padding: 3px 10px;
}

/* При выключенном Bluetooth */
#bluetooth.connected {
  background-color: rgb(255, 243, 224);   
  color: #11282C;
}


#custom-spotify {
    opacity: 0.9;
    background-color: #1db954;
    color: #11282C;
    border-radius: 7px;
    padding: 3 10px;
    font-weight: bold;
}

